<!DOCTYPE html>
<html>
<head>
  <title>OutLoudWebsite</title>
  <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<script type="text/javascript" src="http://www.gigsalad.com/js/review_widget.min.js"></script>
<script type="text/javascript" language="javascript">GS.init('a6I%3A0AFCeR-00AeRrya6wyI%3A3keRI%3AGSVneRmTa6I%3A0A.mW%3AkSzk4lvZ');</script>

</body>
</html>
